body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: darkblue;
  color: white;
}

.App {

  margin-top: 20px;
  text-align: center;
  border: 2px solid yellow;
}

#first--div {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 2px solid white;
}

#func--div {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid lightskyblue;
}
